html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 22em;
  max-height: 40em;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 4% 8%;
}

img {
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

p,
s {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 1.8;
}

p:first-of-type {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.1em;
}

h1 {
  font-family: Fraunces;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  margin: 0;
}

.pricing {
  margin-bottom: 1em;
}

button {
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: Montserrat;
  font-weight: 700;
}

button:hover {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

.currPrice {
  color: hsl(158, 36%, 37%);
  font-family: Fraunces;
  font-weight: 700;
  font-size: 33px;
  margin-right: 6%;
}

s {
  vertical-align: 25%;
}

img:last-of-type {
  padding-right: 2%;
  vertical-align: -20%;
}

@media (min-width: 40em) {
  .card {
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 30em;
    max-width: 40em;
  }

  .pic {
    min-width: 50%;
  }

  #chanel {
    min-width: 100%;
    object-fit: cover;
  }

  .content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 1em 3em;
  }

  p:first-of-type {
    padding-bottom: 1em;
  }
}
